.login-btn {
  display: flex;
  gap: 5px;
}

.signout-button,
.profile-icon {
  display: none;
}

.profile-icon {
  font-size: 2.3rem;
  align-self: center;
  margin-right: 10px;
  color: $secondary;
}

a {
  text-decoration: none;
}

.btn-small {
  background-color: inherit;
  padding: 2px 4px;
  border-radius: 8px;
  border: 1px solid $primary;
  box-shadow: 0 0 15px rgba(58, 89, 145, 0.3);
}

.btn-small:hover {
  color: $primary;
}

.newListingBtn,
.newAvatarImage {
  margin-top: 20px;
}

.buttons {
  position: relative;
  display: inline-block;
  padding: 7px 20px;
  font-size: 16px;
  color: #fff;
  background-color: $primary;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  margin: 0 10px;
}

.buttons:hover {
  box-shadow: 0 0 15px rgba(58, 89, 145, 0.9);
  transform: scale(1.05);
}

.buttons:active,
.profile-icon:active {
  transform: scale(0.98);
}

.login-button {
  background-color: $primary;
}

.signin-button {
  background-color: $secondary;
}

.signout-button {
  background-color: $secondary;
}

.buttons:hover::after {
  content: '';
  position: absolute;
  color: $primary;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 8px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.buttons:hover::after {
  opacity: 1;
}
