.login-btn {
  display: flex;
  gap: 5px;
}

.signout-button,
.profile-icon {
  display: none;
}

.profile-icon {
  font-size: 2.3rem;
  align-self: center;
  margin-right: 10px;
  color: $secondary;
}

a {
  text-decoration: none;
}
