header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
}

h1 {
  font-family: $primaryFont;
  font-weight: 400;
  font-style: normal;
  color: $primary !important;
}
