.oneListing {
  display: flex;
  gap: 27px;
  margin: 20px auto;
  max-width: 650px;
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
  text-transform: capitalize;
}

.placeYourBid {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 20px;
}

.infoOnListing {
  font-size: 0.9rem;
  color: $primary;
}

.dateInfo p {
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .oneListing {
    flex-direction: column;
    max-width: 450px;
  }
}
