.featured-listings {
  max-width: 600px;
}

.listings {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  max-width: 750px;
  flex-wrap: wrap;
  gap: 18px;
}

.listing-card {
  display: flex;
  flex-direction: column;
  width: 205px;
  background-color: #fff;
  padding: 10px;
  align-items: center;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.listing-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

.listingsFeed-info {
  font-size: 0.8rem;
  margin-top: 5px;
}
