.listings {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  max-width: 780px;
  flex-wrap: wrap;
  gap: 5px;
}

.listing-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: white;
  padding: 10px;
  align-items: center;
}
