.featured-listings {
  max-width: 600px;
}

.listings {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  max-width: 750px;
  flex-wrap: wrap;
  gap: 5px;
}

.listing-card {
  display: flex;
  flex-direction: column;
  width: 227px;
  background-color: white;
  padding: 10px;
  align-items: center;
}

.listingsFeed-info {
  font-size: 0.8rem;
  margin-top: 5px;
}
