.modal-content {
  max-width: 500px;
  padding: 30px;
  gap: 20px;
  margin: 20px auto;
  color: $primary;
}

.listing-modal {
  gap: 2px;
}

.newListingLable {
  color: black;
  font-size: 0.7rem;
}
