.user-info {
  display: flex;
  max-width: 600px;
  align-items: end;
  gap: 40px;
}

.user-info p {
  margin-bottom: 0;
}

.user-image {
  position: relative;
  display: inline-block;
}

.user-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.editImage {
  position: absolute;
  top: 5px;
  right: 5px;
  color: $primary;
}

hr {
  width: 100%;
  color: $primary;
}

@media screen and (max-width: 600px) {
  .user-info {
    max-width: 316px;
    flex-wrap: wrap;
    gap: 30px;
  }
}
