//Costume variables
$primaryFont: 'Amatic SC', sans-serif;
$secondaryFont: 'Josefin Sans', sans-serif;
$primary: #3a5991;
$secondary: #146e8f;

@import '../../node_modules/bootstrap/scss/bootstrap';

@import 'header';
@import 'search';
@import 'listings-feed';
@import 'images';
@import 'error';
@import 'buttons';
@import 'userProfile';
@import 'modales';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

main {
  font-family: $secondaryFont;
  font-optical-sizing: auto;
  background-color: #fafbff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.carousel-caption h4,
.carousel-caption p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
