@import "~bootstrap/scss/bootstrap";

h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
}